{{ form_start(form) }}<br>
    {{ form_widget(form) }}<br>
    <button class="btn btn-success btn-icon-split"><span class="icon text-white-50">
                                            <i class="fas fa-check"></i>
                                        </span>
        {{ button_label|default('Ajouter') }}</button>


{{ form_end(form) }}
